* {
  letter-spacing: 1.15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4BCAEE;
  color: black;
}

h1 {
  margin: 50px 10%;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  font-family: "Arial Black", sans-serif;
}

h2 {
  margin: 50px 5%;
  font-family: "Arial Black", sans-serif;
}

p {
  margin: 25px 10%;
  font-weight: 500;
  font-size: 1.3em;
}

ol {
  margin: 50px 5%;
}

li {
  margin: 50px 3%;
}

.s-small-button {
  display: block;
  margin: auto;
  font-family: "Arial Black", sans-serif;
  background-color: #4BCAEE;
  color: black;
  text-decoration: underline;
}

.s-main-button {
  display: block;
  margin: 40px auto;
  font-family: "Arial Black", sans-serif;
  font-size: 2.5em;
  padding: 6px 50px;
  border-radius: 0;
  border: 5px solid black;
  background-color: #4BCAEE;
  color: black;
}

.s-main-button:hover {
  background-color: black;
  color: #4BCAEE;
  border: 5px solid #4BCAEE;
}

.s-main-button:focus {
  background-color: black;
  color: #4BCAEE;
  border: 5px solid #4BCAEE;
}

/* Breaks responsive */
/*.vcenter {
  display: inline-block;
  vertical-align: middle;
}*/

.s-bottom-row {
  margin: 0 5%;
}

.s-ready-text {
  text-align: center;
  font-weight: 500;
  padding: 19px; /*Wallace adjusted padding from 10px to 19px*/
}

.s-form-container {
  padding: 10px 5px;
  text-align: center;
  color: black;
}

.s-form-container > input {
  display: block;
  width: 100%;
  border: 3px solid black;
  background-color: white;
  margin-top: 13px; /* shitty, but works up to large screen sizes Wallace changed from 5 to 13*/
  padding: 3px 5px;
}

.s-form-container > button {
  display: block;
  width: 100%;
  border: 3px solid black;
  margin-top: 13px; /* shitty, but works up to large screen sizes Wallace changed from 5px to 13*/
  padding: 3px 5px;
}

.s-form-container > input::placeholder {
  text-align: center;
  color: black;
  font-weight: 500;
}

.s-description {
  text-align: center;
  font-size: 2em;
}

.s-description-small {
  text-align: center;
  padding: 0px 10%;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .s-main-button {
    padding: 6px 10px;
    border: 5px solid black;
    font-size: 1.5em;
  }
  .s-description {
    padding: 0px 5%;
  }
  .s-form-container {
    padding: 0 5px;
    width: 250px;
    margin: auto;
  }
  .s-ready-text {
    text-align: center;
    font-weight: 500;
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .s-main-button {
    font-size: 1.5em;
  }
  .s-form-container {
    padding: 0 5px;
    width: 300px;
    margin: auto;
  }
  .s-description {
    padding: 0px 15%;
  }
}

@media (min-width: 992px) and (max-width: 1670px) {
  .s-description {
    padding: 0px 20%;
  }
}

@media (min-width: 1671px) {
  .s-description {
    padding: 0px 30%;
  }
}

@media (min-width: 1596px) {
  .s-ready-text {
    line-height: 37px;
  }
}

.s-form-input {
  background-color: #EBA353;
  color: black;
  font-weight: 700;
}

.s-form-input:hover {
  font-weight: 700;
  background-color: #00cc00;
  color: black;
}

.s-form-input:focus {
  font-weight: 700;
  background-color: #00cc00;
  color: black;
}

.s-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #14a9d2;
  /*background-color: #2dc2eb;*/
  background-color: #262626;
  color: white;
  z-index: 1000;
}

.s-image {
  width: 100%;
  height: 100%;
}

.s-center-img {
  float: none;
  display: block;
  margin: auto;
}

@media (max-width: 991px) {
  .s-footer {
    padding-bottom: 10px;
  }
}

figcaption {
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
}

@media (max-width: 380px) {
  figcaption {
    display: none;
  }
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


/* shaking for main button */
/*#main {
  -webkit-animation: shake 1s infinite; /* Safari 4+ */
  -moz-animation:    shake 1s infinite; /* Fx 5+ */
  -o-animation:      shake 1s infinite; /* Opera 12+ */
  animation:         shake 1s infinite; /* IE 10+, Fx 29+ */
}


@-moz-keyframes shake {
  10%, 90% {
    transform: translate3d(0px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(0px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@-o-keyframes shake {
  10%, 90% {
    transform: translate3d(0px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

/* move car across screen */
#car {
  -webkit-animation: move 1s; /* Safari 4+ */
  -moz-animation:    move 1s; /* Fx 5+ */
  -o-animation:      move 1s; /* Opera 12+ */
  animation:         move 1s; /* IE 10+, Fx 29+ */
}

@-moz-keyframes move {
  from { transform: translate(80%,0); }
  to { transform: translate(0,0); }
}

@-webkit-keyframes move {
  from { transform: translate(80%,0); }
  to { transform: translate(0,0); }
}

@-o-keyframes move {
  from { transform: translate(80%,0); }
  to { transform: translate(0,0); }
}

@keyframes move {
  from { transform: translate(80%,0); }
  to { transform: translate(0,0); }
}
